name: Update Checker

env:
  REPO_URL: https://github.com/topjohnwu/Magisk
  REPO_BRANCH: master

on:
  workflow_dispatch:
  schedule:
    - cron: 0 10 * * *

jobs:
  check:
    runs-on: ubuntu-latest

    steps:

    - name: Get Commit Hash
      id: getHash
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH .
        echo "commitHash=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"

    - name: Compare Commit Hash
      id: cacheHash
      uses: actions/cache@v4
      with:
        path: ./commitHash
        key: HEAD-${{ github.sha }}
        restore-keys: HEAD-

    - name: Save New Commit Hash
      id: save
      run: |
        if [ -f ./commitHash ];then
          cachehash=$(cat ./commitHash)
        fi
        if [ "${cachehash}" == "${{ steps.getHash.outputs.commitHash }}" ];then
          echo "build=false" >> "$GITHUB_OUTPUT"
        else
          echo "build=true" >> "$GITHUB_OUTPUT"
          echo ${{ steps.getHash.outputs.commitHash }} | tee ./commitHash
        fi

    - name: Build
      if: steps.save.outputs.build == 'true'
      uses: peter-evans/repository-dispatch@v3
      with:
        token: ${{ secrets.MAGISK_BUILD_CHECK }}
        event-type: Build_Magisk

    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@main
      with:
        retain_days: 0
        keep_minimum_runs: 1
